.lead__title {
    width: 720px;
    margin: 0 auto;
    text-align: center;
    font-weight: 900px;
    line-height: 100px;
    font-size: 96px;
    font-family: InterBlack, sans-serif;
}

@media(max-width: 768px) {
    .lead__title {
        font-size: 40px;
        font-weight: 900;
        line-height: 44px;
        width: calc(100% - 16px);
    }
}
