.cover__title {
    max-width: 560px;
    color: white;
    text-align: center;
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0 auto 0 auto;
    padding: 0;
}

@media (max-width: 767px) {
    .cover__title {
        width: calc(100% - 32px);
        font-size: 32px;
        line-height: 35px;
    }
}
