.intro__title {
    width: 110%;
    font-weight: 900px;
    font-size: 54px;
    line-height: 58px;
    margin: 0 auto;
    font-family: InterBlack, sans-serif;
}

@media(max-width: 1024px) {
    .intro__title {
        width: 100%;
    }
}

@media(max-width: 768px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}
